@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-desactivated {
  @apply fixed font-sans flex items-center flex-row text-left justify-between py-4 px-6 bg-opacity-0 w-full;
}
.nav-activated {
  @apply fixed font-sans flex items-center flex-row text-left justify-between py-4 px-6 bg-gradient-to-r from-black to-slate-900  w-full shadow-2xl z-50 ;
}

.title {
  @apply py-4 px-5 text-transparent bg-clip-text bg-gradient-to-r from-black to-slate-900 text-center text-3xl sm:text-4xl font-extrabold border-b-2 sm:border-b-4 border-bar/90 mx-auto;
}

.input {
  @apply w-full bg-white rounded-md border border-gray-300 focus:border-bar focus:ring-2 focus:ring-indigo-200 text-sm outline-none text-gray-900 py-1 px-3 leading-8 transition-colors duration-150 ease-in-out;
}
.load {
  @apply w-full rounded-md border py-1 px-3 bg-slate-200;
}

.label {
  @apply leading-7 text-sm;
}
.submit {
  @apply disabled:cursor-not-allowed disabled:opacity-75 text-white bg-bar/95 rounded-md border-0 py-2 px-8 focus:outline-none  hover:bg-bar disabled:hover:bg-bar/95 text-lg h-12;
}

@layer base {
  body::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(11, 17, 32);
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.7);
  }
}
.loader div:first-child {
  animation-delay: 0.1s;
}
.loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader div:nth-child(3) {
  animation-delay: 0.3s;
}